*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-image:url('prot.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    width: 100%;
    height:15vh;
    background:rgb(0,0,0,0,0.2);
    color:white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
nav .logo{
    width: 30%;
    text-align: center;
}
nav .menu{
    width: 40%;
    color:green;
    display: flex;
    justify-content: space-around;
}
nav .menu a{
    width:25%;
    text-decoration: none;
    font-weight: bold;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
section {

}
section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 2px 3px black;
}
section a{
    padding: 12px 30px ;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 1ll .5s ease;
}
section .btn1{
    padding:4px;
    /* color: #00b894; */
    background:red;
    color:#000;

}
section .btn2{
    padding:4px;
    color:white;
    background:#00b894

}